extends ../layout.pug

block content
    h1.p-5 Blogs
    each blog in blogs
        div.p-3 
            h5.p-1 Nombre: #{blog.nombre}
            h6.p-1 Titulo: #{blog.titulo}
            p.p-1 Categoria: #{blog.categoria}
            p.p-1.caja.border.border-dark #{blog.texto} 
            p.text #{blog.fecha}
            div 
                a.btn.btn-sm.btn-danger(href="/blogs/delete/"+blog._id, onclick="return confirm('¿Estás seguro?')") Eliminar
                a.btn.btn-sm.btn-info.ml-1(href="/blogs/editar/"+blog._id) Editar
        .progress-bar.progress-bar-striped.bg-dark.ancho
